

.row
  .col-xs-12
    img.img-response(src="", alt="")
.row
  .col-xs-12
    h1 Recipe Name
hr
.row
  .col-xs-12
    .btn-group
      button.btn.btn-primary.dropdown-toggle Manage Recipe
        span.caret
      ul.dropdown-menu
        li
          a(href="#") To Shopping List
        li
          a(href="#") Edit Recipe
        li
          a(href="#") Delete Recipe
.row
  .col-xs-12 Description
.row
  .col-xs-12 Ingredients


